<div class="authform">
  <%= form_for @entry, url: edit_goal_entry_path(@goal.id, @entry.id) do |f| %>
  <div class="form-group">
    <%= f.label :entry_title %><br/>
    <%= f.text_field :entry_title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :entry_img %> <br/>
    <%= f.file_field :entry_img %>
  </div>

  <div class="form-group">
    <%= f.label :entry_desc %> <br/>
    <%= f.text_area :entry_desc %>
  </div>

  <div class="form-group">
    <%= f.label :entry_date %> <br/>
    <%= f.datetime_select :entry_date %>
  </div>

  <div class="actions">
    <%= f.submit 'Edit Entry', :class => 'button left' %>
  </div>
  <% end %>
</div>
<p><a href="<%= goal_path(@goal) %>" class="btn btn-primary" role="button">Back</a></p>
