<div class="authform">
  <%= form_for @entry, url: goal_entries_path(@goal) do |f| %>
  <div class="form-group">
    <%= f.label :entry_title %><br/>
    <%= f.text_field :entry_title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :entry_img %> <br/>
    <%= f.file_field :entry_img %>
  </div>

  <div class="form-group">
    <%= f.label :entry_desc %> <br/>
    <%= f.text_area :entry_desc %>
  </div>

  <div class="form-group">
    <%= f.label :entry_date %> <br/>
    <%= f.datetime_select :entry_date %>
  </div>

  <div class="actions">
    <%= f.submit 'Add Entry', :class => 'button left' %>
  </div>
  <% end %>
</div>
<p><a href="<%= goal_path(@goal) %>" class="btn btn-primary" role="button">Back</a></p>

<!-- twitter button -->
<a href="https://twitter.com/share" class="twitter-share-button" data-via="dplbucketlist">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
