<div class="authform">
  <%= form_for @goal do |f| %>
      <div class="form-group">
        <%= f.label :goal_title %><br />
        <%= f.text_field :goal_title, autofocus: true, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label :priority %><br />
        <%= f.select(:priority, options_for_select(["if there is time", "would like to", "must", "imperative", "cannot die without"]), {}, {}) %>
      </div>

      <div class="form-group">
        <%= f.label(:goal_img) %>
        <%= f.file_field :goal_img %>
        <p class="help-block">Upload an image here to represent your goal</p>
      </div>

      <div class="actions">
        <%= f.submit 'Submit', :class => 'button left' %>
      </div>
 <% end %>
</div>
<p><a href="<%= goal_path(@goal) %>" class="btn btn-primary" role="button">Back</a></p>
