<link href='http://fonts.googleapis.com/css?family=Rock+Salt|Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
<!--twitter button -->

<!-- Add entry button -->
<a href="<%= new_goal_path %>"></a>
<button class="btn btn-default" type="button" name="button">New Goal</button>


<h1 id="header2">My Bucket List</h1>

<div class="col-md-4">
<% @goals.each_with_index do |goal, i| %>

  <a href="<%= edit_goal_path(goal.id) %>"><span class="glyphicon glyphicon-pencil"></span></a>
  <a href="<%= goal_path(goal.id) %>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
      <a class="goal" data-toggle="collapse" href="#collapse<%= i %>" aria-expanded="false" aria-controls="collapseExample">

        <h1 class="header3"><%= goal.goal_title %></h1>
        <%= image_tag goal.goal_img.url(:medium) %>
        <h3 class="header4"><%= goal.priority %></h3>
        <%= goal.completed %>
      </a>
      <div class="collapse" id="collapse<%= i %>">


<div class="container">
  <div class="col-md-2 col-md-offset-5">
  <a href="<%= goal_path(goal.id) %>">
    <h1 class="header3"><%= goal.goal_title %></h1>
    <%= image_tag goal.goal_img.url(:medium) %>
    <h3 class="header4"><%= goal.priority %></h3>
    <%= goal.completed %>
  </a>


<!-- new goal entry and edit goal entry -->
  <div class="text-center">
    <a href="<%= new_goal_entry_path(goal.id) %>">
      <button class="btn btn-warning" type="button" name="button">Add Entry</button>
    </a>
    <a class="goal" data-toggle="collapse" href="#collapse<%= i %>" aria-expanded="false" aria-controls="collapseExample">
      <button class="btn btn-primary" type="button" name="button">Show Entries</button>
    </a>
<!-- edit and delete buttons -->
      <a href="<%= edit_goal_path(goal.id) %>">
        <button class="btn btn-primary" type="button" name="button">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </a>
      <a href="<%= goal_path(goal.id) %>" data-method="delete">
        <button class="btn btn-primary" type="button" name="button">
           <span class="glyphicon glyphicon-trash"></span>
        </button>
      </a>
  </div>
</div>

    <div class="collapse" id="collapse<%= i %>">
      <% goal.entries.each do |entry| %>
        <%= entry.entry_title %>
        <%= entry.entry_date %>
        <a href="<%= edit_goal_entry_path(goal.id, entry.id) %>">edit</a>
        <% end %>
    </div>
</div>

<% end %>
