<link href='http://fonts.googleapis.com/css?family=Rock+Salt|Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
<a href="<%= new_goal_path %>"><button class="btn btn-default pull-right" type="button" name="button">New Goal</button></a>
<!--twitter button -->
<!-- <a href="https://twitter.com/share" class="twitter-share-button" data-via="dplbucketlist">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->


<h1 class="header2">My Bucket List</h1>

<% @goals.each_with_index do |goal, i| %>

<div class="text-center">
  <div class="col-md-4">
  <a href="<%= goal_path(goal.id) %>">
    <h1 class="header3"><%= goal.goal_title %></h1>
    <%= image_tag goal.goal_img.url(:medium) %>
    <h3 class="header4"><%= goal.priority %></h3>
    <%= goal.completed %>
  </a>
<!-- edit and delete buttons -->
<!-- new goal entry and edit goal entry -->
  <a href="<%= new_goal_entry_path(goal.id) %>">
    <button class="btn btn-warning" type="button" name="button">Add Entry</button>
  </a>
  <a class="goal" data-toggle="collapse" href="#collapse<%= i %>" aria-expanded="false" aria-controls="collapseExample">
    <button class="btn btn-primary" type="button" name="button">Show Entries</button>
  </a>
    <a href="<%= edit_goal_path(goal.id) %>">
      <button class="btn btn-primary" type="button" name="button">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </a>
    <a href="<%= goal_path(goal.id) %>" data-method="delete">
      <button class="btn btn-primary" type="button" name="button">
         <span class="glyphicon glyphicon-trash"></span>
      </button>
    </a>

    <div class="collapse" id="collapse<%= i %>">
      <% goal.entries.each do |entry| %>
        <h4><%= entry.entry_title %></h4>
        <p><%= entry.entry_date %></p>
        <a href="<%= edit_goal_entry_path(goal.id, entry.id) %>">edit</a>
        <!-- <p><%= link_to('delete', goal_entry_path(goal.id, entry.id), method: :delete) %></p> -->
        <% end %>
    </div>
</div>

<% end %>
