<a href="<%= new_goal_path %>">New Goal</a>
<% @goals.each_with_index do |goal, i| %>
  <a href="<%= edit_goal_path(goal.id) %>"><span class="glyphicon glyphicon-pencil"></span></a>
  <a href="<%= goal_path(goal.id) %>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
      <a class="goal" data-toggle="collapse" href="#collapse<%= i %>" aria-expanded="false" aria-controls="collapseExample">
        <%= goal.goal_title %>
        <%= goal.priority %>
        <%= image_tag goal.goal_img.url(:medium) %>
        <%= goal.completed %>
      </a>
      <div class="collapse" id="collapse<%= i %>">
      <% goal.entries.each do |entry| %>
          <%= entry.entry_title %>
          <%= entry.entry_date %>
  <% end %>
      </div>
  <a href="<%= new_goal_entry_path(goal.id) %>">Add Entry</a>
<% end %>
