<body>

<h1 class="header2"><%= @goal.goal_title %></h1>

<link href='http://fonts.googleapis.com/css?family=Rock+Salt|Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="text-center">
  <a class="goal" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%= image_tag(@goal.goal_img.url(:large), :class => "") %>
    <br>
    Priority:  <%= @goal.priority %>
    <% if @goal.completed %>
      <div id="completed" class="btn-group" data-toggle="buttons" goal_id="<%= @goal.id %>">
        <label class="btn btn-info"><input type="checkbox" autocomplete="on">Completed</label>
      </div>
    <% else %>
      <div id="completed" class="btn-group" data-toggle="buttons" goal_id="<%= @goal.id %>">
        <label class="btn btn-info"><input type="checkbox" autocomplete="off">Completed</label>
      </div>
    <% end %>
  </a>
  <div class="collapse" id="collapseExample">
  <% @entries.each do |entry| %>
    <%= entry.entry_title %>
    <%= image_tag entry.entry_img.url(:medium) %>
    <%= entry.entry_desc %>
    <%= entry.entry_date %>
    <a href="<%= edit_goal_entry_path(@goal.id, entry.id) %>">Edit</a>
  <% end %>
  </div>
  <!-- completed button -->
</div>
<!-- twitter button -->

<a href="https://twitter.com/share" class="twitter-share-button" data-via="dplbucketlist">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div class="container">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="dplbucketlist">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<% if @goal.user_id == current_user.id %>
  <a href="<%= edit_goal_path(@goal.id) %>"><span class="glyphicon glyphicon-pencil"></span></a>
  <a href="<%= goal_path(@goal.id) %>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
<% else %>
  Likes:<p id="numLikes">

  </p><a goal_id="<%= @goal.id %>" id="like" href="#"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
<br>
  <a href="/addtobucket/<%= @goal.id %>"><span class="glyphicon glyphicon-pushpin"></span> Add this goal to your own bucket list</a>
<% end %>
</div>


</body>
